@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body,
.App,
.Main {
  width: 100%;
  height: 100vh;
  background: #282c34;
}

.nav-bar {
  position: sticky;
  width: 100%;
  height: 80px;
  background: #434956;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  z-index: 10;
}

.nav-bar h1 {
  color: aqua;
}

.nav-bar .menu {
  list-style: none;
}

.nav-bar .menu a {
  display: inline-block;
  background: #4e5565;
  color: #fff;
  padding: 5px 15px;
  margin: 0 5px;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-bar .menu a.active {
  color: aqua;
  border-bottom: 1px solid aqua;
}

.nav-bar .search-box {
  display: flex;
  align-items: center;
}

.nav-bar .search-box input {
  border: none;
  outline: none;
  background: #4e5565;
  padding: 5px 15px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.nav-bar .search-box button {
  padding: 5px 15px;
  outline: none;
  background: aqua;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

section {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
}

.main-banner {
  width: 100%;
  height: calc(100vh - 80px);
  background: #fff;
}

.main-banner .pre-show {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
}

.main-banner .pre-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner .pre-show .movie-cnt {
  position: absolute;
  padding: 10px;
  width: 40%;
  bottom: 40px;
  left: 60px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.main-banner .pre-show .movie-cnt h1 {
  font-size: 26px;
  font-weight: 700;
  color: aqua;
  margin-bottom: 15px;
}

.main-banner .pre-show .movie-cnt p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-align: justify;
}

.main-banner .pre-show .movie-cnt button {
  padding: 8px 20px;
  font-size: 23px;
  font-weight: 500;
  color: aqua;
  border: 1px solid aqua;
  outline: none;
  background: none;
  transition-duration: 200ms;
  cursor: pointer;
}

.main-banner .pre-show .movie-cnt button:hover {
  background: aqua;
  color: #000;
}

.main-banner .pre-show .movie-cnt h1 {
  font-size: 20px;
}
.main-banner .pre-show .movie-cnt p {
  font-size: 18px;
}
.main-banner .pre-show .movie-cnt button {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.movie-card-ctr {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.movie-card {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: aqua;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background: none;
  color: aqua;
  font-size: 3rem;
  opacity: 0;
  pointer-events: none;
  transition-duration: 200ms;
}

.movie-card:hover button {
  opacity: 1;
  pointer-events: auto;
}

a {
  text-decoration: none;
}

.detail-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.detail-section img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.detail-section .detail-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  font-size: 18px;
}

.detail-section .detail-card img {
  width: 200px;
  height: 100%;
  border-radius: 10px;
}

.detail-section .detail-card .right {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.detail-section .detail-card .right h1 {
  color: aqua;
  font-size: 18px;
}

.detail-section .detail-card .right p {
  font-size: 16px;
  color: aqua;
}

.detail-section .detail-card .right p span {
  color: #fff;
}

.detail-section .detail-card .right ul {
  list-style: none;
}

.detail-section .detail-card .right ul li {
  display: inline-block;
  background: aqua;
  font-size: 14px;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.detail-section .detail-card .right h3 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.detail-section .detail-card .right .btns {
  display: flex;
  gap: 15px;
}

.detail-section .detail-card .right .btns button {
  padding: 5px 15px;
  font-size: 15px;
  color: aqua;
  border: 1px solid aqua;
  outline: none;
  background: none;
  transition-duration: 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-section .detail-card .right .btns button:hover {
  background: aqua;
  color: #000;
}

.search-section header {
  width: 100%;
  height: 80px;
  background: #434956;
  display: flex;
  align-items: center;
  padding: 0 20px;
  top: 0;
}

.search-section header button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: aqua;
  border: none;
  outline: none;
  font-size: 1.3rem;
  margin-right: 20px;
}

.search-section header h1 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-section h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.error-section p {
  max-width: 80%;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

.error-section p span {
  color: aqua;
}

.error-section button {
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 600;
  color: aqua;
  border: 1px solid aqua;
  outline: none;
  background: none;
  transition-duration: 200ms;
  cursor: pointer;
}

.error-section button:hover {
  background: aqua;
  color: #000;
}

.youtube-frame {
  position: absolute;
  z-index: 999;
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.close-watch {
  position: absolute;
  top: -100%;
  right: 20px;
  background: #434956;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #ccc;
  transition-duration: 400ms;
  font-weight: 300;
  cursor: pointer;
}

.youtube-frame:hover .close-watch {
  top: 20px;
}

.notic-text {
  width: 100%;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
